In [1]:
from cadd.preprocess import DataLoader, calc_pIC50
from cadd.adme import ADME
import pandas as pd

In [2]:
dl = DataLoader(target = 'CHEMBL1825', bioactivity_type='IC50', assay_type = 'B', target_organism = 'Homo sapiens')

In [3]:
data = dl.get_data()

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=461.0), HTML(value='')))

In [4]:
pic50 = calc_pIC50(data)

In [5]:
data.insert(loc = 3, column='pIC50', value = pic50)
data.head()

,molecule_chembl_id,smiles,standard_units,pIC50,standard_value,type,units,value
17,CHEMBL3326305,O=C1Nc2ccc(S(=O)(=O)Nc3ccc(O)c(Cl)c3)c3cccc1c23,nM,4.374,42300.0,IC50,uM,42.3
18,CHEMBL3326315,O=C1Sc2c(S(=O)(=O)Nc3ccc(O)cc3)cc(S(=O)(=O)Nc3...,nM,4.854,14000.0,IC50,uM,14.0
19,CHEMBL3356478,O=S(=O)(Nc1cc(Cl)c(O)c(Cl)c1)c1ccc2ccccc2c1,nM,4.000,100000.0,IC50,uM,100.0
20,CHEMBL3314616,O=S(=O)(Nc1ccc(O)c(Cl)c1)c1ccc(F)cc1,nM,4.000,100000.0,IC50,uM,100.0
22,CHEMBL3326318,Cc1cc2occ(CN(C)CCN(C)Cc3cn(-c4cccc(C(F)(F)F)c4...,nM,4.693,20300.0,IC50,uM,20.3

In [2]:
data = pd.read_csv('data.csv')

In [3]:
a = ADME(list(data['smiles']))

In [4]:
a.lipinski_props

,Smile,Molecular_weight,Acceptors,Donors,LogP,fulfill
0,O=C1Nc2ccc(S(=O)(=O)Nc3ccc(O)c(Cl)c3)c3cccc1c23,374.012806,4,3,3.56530,True
1,O=C1Sc2c(S(=O)(=O)Nc3ccc(O)cc3)cc(S(=O)(=O)Nc3...,528.011964,8,4,4.09850,False
2,O=S(=O)(Nc1cc(Cl)c(O)c(Cl)c1)c1ccc2ccccc2c1,366.983670,3,2,4.65300,True
3,O=S(=O)(Nc1ccc(O)c(Cl)c1)c1ccc(F)cc1,300.997570,3,2,2.98550,True
4,Cc1cc2occ(CN(C)CCN(C)Cc3cn(-c4cccc(C(F)(F)F)c4...,583.221340,5,0,7.35814,False
...,...,...,...,...,...,...
456,Cc1nc(Nc2cnc3ccccc3c2)c(C)c(C)c1O,279.137162,4,2,4.00426,True
457,Cc1nc(Nc2ccc(Cl)nc2)c(C)c(C)c1O,263.082540,4,2,3.50446,True
458,O=C(NCCN1CCOCC1)c1ccc2c(c1)C(=O)c1ccc(Nc3ccc(F...,592.248584,6,3,5.21320,False
459,Nc1c(C(=O)NCc2ccc(C(=O)NCCCC3CCCCC3)cc2)cnn1-c...,459.263425,5,3,4.47480,True
460,O=C1c2ccc(Nc3ccc(F)cc3F)cc2CCc2ccc(OC[C@H](O)C...,425.143865,5,3,3.77000,True